@import url("./Controls.css");
@import url("./Display.css");
@import url("./utils.css");

#root {
  max-width: 1280px;
  margin: 0.2rem auto;
}

@media only screen {
  #cv-disp {
    min-height: 11in;
  }
}

@media only screen and (width <=930px) {
  .panneled-div {
    flex-direction: column;
  }

  #tabs {
    align-self: center;
  }

  #ctrls-contr {
    position: fixed;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;
  }

  #ctrls-contr, #active-form-contr {
    padding-left: 0;
  }

  #cv-disp {
    margin-top: 6rem;
  }

  #frms {
    width: 100%;
  }

  #disp,
  #frms {
    margin: 0 auto;
    padding-bottom: 3rem;
    height: calc(100vh - 6rem);
    overflow-y: scroll;
  }

  input#frms-tab:checked~#disp,
  input#disp-tab:checked~#frms {
    transform: translateY(-100vw);
    transition: transform 1s ease-in-out;
  }

  input#frms-tab:checked~#frms,
  input#disp-tab:checked~#disp {
    transform: translateY(0);
  }

  input#frms-tab:checked~.tabs-contr label[for="frms-tab"],
  input#disp-tab:checked~.tabs-contr label[for="disp-tab"],
  input#null-tab:checked~.tabs-contr label[for="null-tab"] {
    border: none;
    color: royalblue;
    fill: royalblue;
  }

  .print-btn {
    height: 4rem;
    width: 4rem;
    font-size: small;
  }

  .print-btn svg {
    width: 1.5rem;
  }
}

@media only screen and (width < 450px) {
  #ctrls-contr, #active-form-contr {
    padding-left: 0.5rem;
  }

  .tabs-contr {
    gap: 2rem;
  }
  .tabs-contr .text-with-icons {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: small;
  }
}