#ctrls-contr,
#active-form-contr {
  padding: 1rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

input[name="active-tab"] {
  display: none;
}

input[name="active-tab"]~.tabs-contr label {
  border-bottom: 2px solid;
  border-color: transparent;
  /* transition: border-color 0.35s ease-in; */
}

input#frms-tab:checked~.tabs-contr label[for="frms-tab"],
input#disp-tab:checked~.tabs-contr label[for="disp-tab"] {
  border-color: royalblue;
}

input#frms-tab:checked~#frms,
input#disp-tab:checked~#disp {
  display: block;
}

#frms,
#disp {
  display: none;
}

.tabs-contr {
  display: flex;
  justify-content: space-between;
  padding: 5px 3rem;
}

.tabs-contr label {
  padding-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

form>div {
  display: flex;
  flex-direction: column;
}

label:not(.tabs-contr label) {
  letter-spacing: 0.8px;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  padding: 0.3rem 0.4rem;
  border-color: grey !important;
}

input {
  border: none;
  border-bottom: 2px solid;
}
input::placeholder,
textarea::placeholder {
  font-style: italic;
}
input:focus-visible {
  border-bottom: 2px solid royalblue !important;
}

textarea {
  border-width: 2px;
  font-family: inherit;
}
textarea:focus-visible {
  border: 2px solid royalblue !important;
}

#addbtns-contr {
  border-top: 2px dotted;
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
button[type="submit"] {
  margin-top: 1rem;
}
button[type="submit"]:focus-visible,
button[type="submit"]:hover {
  background-color: royalblue;
  color: white;
}

.nocontent-item {
  opacity: 0.5;
}

#sectn-order-contr,
#nested-list-contr {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0;
}
#sectn-order-contr li {
  list-style: none;
  border: 1px solid;
  border-radius: 4px;
}
.disp-list-itms,
.nested-disp-list {
  display: flex;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 4px;
  text-transform: capitalize;
}
#sectn-order-contr .disp-list-itms .icons {
  flex: 0 0 auto;
}
#sectn-order-contr .icons:first-child {
  /* Drag icon */
  opacity: 0.5;
}
#sectn-order-contr .disp-list-itms .section-names,
.nested-sectn-names {
  flex: 1 1 auto;
}
#nested-list-contr {
  padding: 0.4rem;
  gap: 0.4rem;
}
