#cv-disp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  background-color: white;
  padding: 1rem 2.5rem;
  margin: 1rem;
  border: 0.3rem solid #747bff;
}

#cv-disp section:not(#general-sectn) > div {
  padding-left: 2rem;
}

#candidatename {
  font-size: xx-large;
  font-weight: 630;
}

#cv-disp h2,
#cv-disp h3:not(.schoolname) {
  margin: 0.2rem 0;
}
#cv-disp p {
  margin: 0.8rem 0;
}

#contact-contr {
  display: flex;
  justify-content: space-between;
}

#social-contr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1.8rem;
  overflow-x: scroll;
  overflow-y: hidden;

  /* Shist margin to contain social icons effects */
  margin-left: -10px;
}
#social-contr > * {
  align-items: center;
  gap: 0;
}

/* Force styles on social icons */
#social-contr * {
  position: unset !important;
}
#social-contr .social-icon {
  height: 2.5rem !important;
  width: 2.5rem !important;
}
#social-contr > *:nth-child(2n) {
  justify-self: end;
}
#social-contr svg {
  width: 100% !important;
  height: 100% !important;
}

#summary-sectn p {
  padding-left: 2rem;
  white-space: pre-wrap;
}

p.jobdetails {
  margin: 0.2rem 0 !important;
}
.companyname {
  font-weight: 600;
}

#educations {
  display: grid;
  gap: 1rem 0.5rem;
  grid-template-columns: 1fr 1fr;
}
.schoolname {
  font-weight: bold;
  font-size: large;
}
.date {
  font-style: italic;
}

#skill-list {
  margin: 0.3rem 0;
  padding-left: 2rem;
  list-style: none;
  display: flex;
}
#skill-list li:not(:last-child)::after {
  content: "|";
  padding: 0 1rem;
}
