#cv-disp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  background-color: white;
  padding: 1rem 2.5rem;
  margin: 1rem;
  border: 0.3rem solid royalblue;
  min-height: 842px;
}

#cv-disp section:not(#general-sectn) > div {
  padding-left: 2rem;
}

#candidatename {
  font-size: xx-large;
  font-weight: 630;
}

#cv-disp h2,
#cv-disp h3:not(.schoolname) {
  margin-bottom: 0.3rem;
}
#cv-disp p {
  margin: 0.8rem 0;
}

#contact-contr {
  display: flex;
  justify-content: space-between;
}

p.jobdetails {
  margin: 0.2rem 0 !important;
}
.companyname {
  font-weight: 600;
}

#educations {
  display: grid;
  gap: 1rem 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
h3.schoolname {
  margin: 0;
}
.date {
  font-style: italic;
}

#skill-list {
  padding-left: 2rem;
  list-style: none;
  display: flex;
}
#skill-list li:not(:last-child)::after {
  content: "|";
  padding: 0 1rem;
}
