.clickable {
  cursor: pointer;
}

.no-url {
  color: inherit;
  pointer-events: none;
}

.movable {
  cursor: move;
}

svg.icons {
  width: 1.5rem;
}

.text-with-icons,
.icons-and-elem {
  display: flex;
  gap: 0.3rem;
}

.panneled-div {
  display: flex;
  gap: 0.5rem;
}

.panneled-div > *:first-child {
  flex: 1 0 320px;
}
.panneled-div > *:last-child {
  flex: 1 1 8.5in;
}

@media print {
  .panneled-div > *:first-child {
    display: none !important;
  }

  #cv-disp {
    min-height: 842px;
    min-width: 595px;
  }
}