.clickable {
  cursor: pointer;
}

.no-url {
  color: inherit;
  pointer-events: none;
}

.movable {
  cursor: move;
}

svg.icons {
  width: 1.5rem;
}

.validation-msg {
  display: none;
  font-size: small;
  padding: 0.2rem;
}
input:invalid ~ .validation-msg {
  display: block;
}

.text-with-icons,
.icons-and-elem {
  display: flex;
  gap: 0.3rem;
}

.panneled-div {
  display: flex;
  gap: 0.5rem;
}

.panneled-div > *:first-child {
  flex: 1 0 320px;
}
.panneled-div > *:last-child {
  flex: 1 1 8.5in;
}

@page {
  size: A4;
  margin: 1rem 1.5rem;
}

@media print {
  .panneled-div > *:first-child {
    display: none !important;
  }

  #cv-disp {
    border: none;
    padding: 0;
    margin: 0 !important;

    & h2 {
      margin: 0.2rem;
    }
  }
}