.clickable {
  cursor: pointer;
}

.no-url {
  color: inherit;
  pointer-events: none;
}

.movable {
  cursor: move;
}

svg.icons {
  width: 1.5rem;
}

.validation-msg {
  display: none;
  font-size: small;
  padding: 0.2rem;
}

input:invalid~.validation-msg {
  display: block;
}

.text-with-icons,
.icons-and-elem {
  display: flex;
  gap: 0.3rem;
}

.panneled-div {
  display: flex;
  gap: 0.5rem;
}

.panneled-div>*:first-child {
  flex: 1 0 320px;
}

.panneled-div>*:last-child {
  flex: 1 1 8.5in;
}

.print-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  border-radius: 50%;
  box-shadow: 0 3px 4px 3px #00000030;
  border: none;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
}

.print-btn:hover {
  background-color: #395bc1;
}

.print-btn:active {
  background-color: white;
  color: royalblue;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000040;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000060;
}

.drag-ghost {
  opacity: 0.8;
  background-color: #4169e180;
}

@page {
  size: A4;
  margin: 1rem 1.5rem;
}

@media print {
  html, body {
    overflow: hidden;
  }

  * {
    background-color: white !important;
  }

  .panneled-div>*:first-child,
  .print-btn {
    display: none !important;
  }

  #cv-disp {
    border: none;
    padding: 0;
    margin: 0 !important;
    page-break-after: auto;

    & h2 {
      margin: 0.2rem;
    }
  }
}